* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fff;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-main {
  width: 500px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.label {
  display: block;
}

input[type='text'],
input[type='number'] {
  width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0 0.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

fieldset {
  min-width: 0;
  border: 1px solid rgb(174, 174, 174);
  margin-bottom: 1rem;
}

legend {
  margin-bottom: 0.5rem;
}

.form-main__btn {
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 0.7em;
  color: #fff;
  text-transform: uppercase;
  background-color: #f00;
  margin-top: 1rem;
  transition: all 0.3s ease-in;
}

.form-main__btn:hover {
  background-color: #c33;
}

textarea {
  padding: 0.4rem;
  width: 100%;
}

/* ClientList */
.ClientList.container {
  display: flex;
  flex-direction: column;
}

.list-clients {
  list-style: none;
}

/* NavBar */
a {
  text-decoration: none;
}

.is-active {
  text-decoration: underline;
}

.navbar {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  background-color: lightblue;
  padding: 0.5rem;
}

.home h1 {
  text-align: center;
  margin-top: 2rem;
}
